<h1>Camera specs</h1>
<p>Pinhole diameter: <%= @camera.pinhole_diameter %></p>
<p>Focal length: <%= @camera.focal_length %></p>
<p>Image width/height: <%= @camera.image_width %> x <%= @camera.image_width %></p>
<p>Pinhole to image angle: <%= @camera.pinhole_to_image_angle %></p>
<p>Maximum distortion: <%= @camera.distortion %></p>